ENZ1AT_0922/orarend.dtd

<!DOCTYPE orarend [
	<!ELEMENT orarend (ora+)>
	<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
		<!ATTLIST ora id ID>
		<!ATTLIST ora type (ea|gyak) "ea">
		<!ELEMENT targy (#PCDATA)>
		<!ELEMENT idopont (nap,tol,ig)>
			<!ELEMENT nap (#PCDATA)>
			<!ELEMENT tol (#PCDATA)>
			<!ELEMENT ig (#PCDATA)>
		<!ELEMENT helyszin (#PCDATA)>
		<!ELEMENT oktato (#PCDATA)>
		<!ELEMENT szak (#PCDATA)>
]>