ENZ1AT_1006/ember.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="ember">

	<xs:complexType>
		<xs:sequence>
			<xs:element name="nev1" type="xs:string"/>
			<xs:element name="fizetes" type="xs:integer"/>
			<xs:element name="nev" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:element>

</xs:schema>